<p>Hello <%= @user.name_display %>,</p>
<br>
<p>A new comment was posted on your discussion: <%= @discussion.title %></p>
<p>Comment: <%= @comment.body %></p>
<br>
<p>Regards,</p>
<br>
<p>The PM Pros</p>