<div class = "container">
  <h1>About This PM Tool</h1>
</div>
  
<div class = "container">
  <%= image_tag "https://pbs.twimg.com/profile_images/2191794231/image.jpg", class: "img-rounded profile_pic" %>
</div>

<div class = "container">
  <p>This is my super awesome project management tool!</p>
  <p>This project runs on Rails!</p>
</div>  
  